section {
    margin: 1%;
    border: 2px solid;
}
section p {
    word-break: break-all; 
}




.title {
    border-bottom: 1px solid;
    margin: 10px;
    font-weight: bold;
}

.content {
    margin: 0 20px;
}

.nameUser {
    margin: 10px;
    opacity: 60%;
    margin: 10px;
}